<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <style type="text/css">
        boby{
            font-family: 'Microsoft YaHei',宋体,Tahoma,Helvetica,Arial,宋体,sans-serif;
        }
    </style>
</head>
<body>
    <div style="
         margin-left: 1em;
     ">
     <p>有人评论你的文章<a href="{{ comment_url }}">点击查看</a></p>
     <p style="
        background-color: #E0E0E0;
        padding: 1em 0.5em;
        border-radius: 6px;
        font-size: small;
        ">{{ comment_name }}:"{{ comment_content }}"</p>
    </div>
    <div style="
        margin-top: 1.5em;
        margin-right: 3em;
        font-size: small;
        text-align: right;
    ">
        <a href="http://sybianl.com" style="
           text-decoration:none;
           color :#517CAF;
           margin-left :1em;
           ">
            sybianl.com
        </a>
        <span>thank yours</span>
    </div>
</body>
</html>




















